@charset "UTF-8";
@import 'sass/base.scss';
@import 'font/iconfont.scss';
@import 'sass/markdown.css';

#app,.content{
  @media (min-width:750px) {
    max-width: px2rem(750);
    margin: 0 auto;
  }
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.hide {
    display: none !important;
}

.fl{
    float: left;
}
.fr{
    float: right;
}