@charset "UTF-8";
@import 'sass/base.scss';
@import 'font/iconfont.scss';
@import 'sass/markdown.css';

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.hide {
    display: none !important;
}

.fl{
    float: left;
}
.fr{
    float: right;
}